<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Returns & Refunds</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="https://github.com/rsj-rishabh/urbanClapClone">Project</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Serving in </h3>
                    <ul>
                        <li><a href="#">Delhi NCR</a></li>
                        <li><a href="#">Chennai</a></li>
                        <li><a href="#">Hyderabad</a></li>
                        <li><a href="#">Kolkata</a></li>
                        <li><a href="#">Lucknow</a></li>
                        <li><a href="#">Mumbai</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Others </h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>On-Click Service</h3>
                    <p>The platform helps customers book realiable & high quality services for your home on demand. The services are delivered by highly trained professionals at your time and schedule.</p>
                </div>
                <div class="col item social">
                    <h3>Follow Us on </h3>
                    <a href="#"><i class="bi bi-facebook fb-icon"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-snapchat"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Copyright On-Click Service @ ABES Technologies Pvt. Ltd.</p>
        </div>
    </footer>
</div>